
//
// VARIABLES
//


// Colors

$black: #000;
$dark: #060606;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #ddd;
$white: #fff;
$blue: #4183C4;
$red: #600000;
$yellow: #ffd836;


// Main theme colors 
// Some cool main theme colors(violet:#8476ad;blue:#5cacee;red:#ff7373,#ff6f69;green:#6acf64,#2ddbb3;orange:#ffa268)

$mono-color: $red;                // main theme color(header, links, footer icons, buttons, post-title)
$hl-color: $lightGray;              // header link color (author name and posted on date) for blog post meta 
$navbar-hover-color:$white;        // navbar hover color (site name and navbar links hover color)
$link-color: $yellow;        // normal hyperlink color other than the ones above.


// Heading colors
// You can play around with these too!
$h1-color: lighten($mono-color,20%);
$h2-color: $h1-color;
$h3-color: $h1-color;
$h4-color: $h1-color;

// Your avatar

$avatar: "/images/avatar.svg";


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$raleway: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
