<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }} – {{ site.description }}{% endif %}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    {% if page.asciinema %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/asciinema.css" />{% endif %}

    {% include mathjax.html %}

  </head>

  <body>
    
    
    <div class="intro-header">    
      <div class="container">
        <div class="post-heading">
            <h1>{{page.title}}</h1>
            {% if page.category contains "wip" %}
            <span class="meta"><i class="fa fa-spinner fa-spin"></i> (Work In Progress) </span>
            {% endif %}
            <span class="meta">Posted by <a href="{{ site.baseurl }}/about">{% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif %}
              </a>{% if page.date %} on {{ page.date | date: "%B %e, %Y" }}{% endif %}
            </span>
            <div style="float:right"><a href="{% if page.back %}{{page.back}}{% else %}{{ site.baseurl }}/{% endif %}">back&nbsp;<i class="fa fa-home"></i></a></div>
        </div>
            
      </div>
    </div>
    
  {% if page.toc and page.toc == "large" %}
  <div class="largetoc" style="{{ page.toc-style }}">
    {{ content | toc_only }}
  </div>
  {% endif %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
            <div class="svg-icon">
          {% include svg-icons.html %}
            </div>
        </footer>
      </div>
    </div>


    {% include analytics.html %}
    {% if page.asciinema %}<script src="{{ site.baseurl }}/asciinema.js"></script>{% endif %}
  </body>
</html>
